<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adtec</title>
    <link rel="shortcut icon" href="../assets/img/adtec-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/common.css">
</head>

<body>
    <header>
        <p class="f40 NotoSans_b line_2">
            あいうえお
        </p>
    </header>
</body>

</html>